html,body{
    height: 100%;
}

#application-wrapper{
    position: relative;

    width: 750px;
    height: 600px;

    border: 1px solid black;

    left: 15%;
    top: 7.5%;
}

#sudoku-grid{
    position: absolute;
    left: 5%;
    top: 8%;
}

#rules{
    position: relative;
    width: 170px;
    height: 600px;
    left: 77.3%;
}

.buttons{
    background-color: inherit;
    border: 1px solid black;
    height: 50px;
    width: 150px;
    text-align: center;
}

.buttons:hover{
    text-decoration: underline;
    cursor: pointer;
}
#back-to-hugo{
    position: absolute;
    align-content: center;
    bottom: 27%;
}
#hint-button{
    position: absolute;
    align-content: center;
    bottom: 8.45%;
}
#solve-button{
    position: absolute;
    align-content: center;
    bottom: 74%;
}
#check-button{
    position: absolute;
    align-content: center;
    bottom: 17.85%;
}
#auto-candidate-button{
    position: absolute;
    align-content: center;
    bottom: 64.81%;
}
#new-grid-button{
    position: absolute;
    align-content:center;
    bottom: 83.4%;
}

#timer{
    width: 150px;
    text-align: center;
    position: absolute;
    align-content: center;
    font-size: 42px;
    border: 1px solid black;
    bottom: 55.4%;
}