body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
}

#pdfCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust this to control the display size */
    height: auto;
}

#buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    left: 3%;
    top: 6%;
}
#volume-selector{
    position: absolute;
    top: 3%;
    left: 10%;
}

.white-background{
    background-color: white;
}
.black-background{
    background-color: black;
}