* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .blue_border {
    border: 1px solid #3F72AF;
  }
  
  .navigator {
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 20px 0;
    background-color: #DBE2EF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigator img {
    width: 40px;
    height: auto;
    border: 1px solid #00ADB5;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin-right: 100px;
  }
  
  nav a {
    text-decoration: none;
    color: #112D4E;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .navigator::before {
    content: '';
    flex: 1;
  }
  
  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  
  .title {
    color: #112D4E;
    text-decoration: underline;
    font-size: 33px;
    margin-top: 45px;
  }
  
  #Automaton {
    padding-top: 100px;
    background: #F9F7F7;
    display: flex;
    justify-content: space-around;
    min-height: calc(100vh - 100px);
    position: relative;
  }
  
  #Automaton>div {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
  }
  
  #Automaton img {
    width: 43%;
    height: 100%;
    border-radius: 10px;
    max-height: calc(100vh - 80px);
    margin-top: 95px;
    margin-left: -26px;
  }
  
  .about_text {
    width: 450px;
    height: 500px;
    max-height: calc(100vh - 200px);
    border: 1px solid #3F72AF;
    border-radius: 10px;
    margin-top: 15px;
    color: #112D4E;
    font-size: 36px;
    line-height: 50px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  #ReadMe,
  #connect {
    background: #F9F7F7;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #ReadMe .title {
    margin-bottom: 20px;
  }
  
  #ReadMe>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }
  
  #ReadMe>div>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  #ReadMe>div>div:nth-child(2) {
    display: flex;
    align-items: center;
    min-width: 250px;
    justify-content: center;
  }
  
  #ReadMe>div>div:nth-child(2) img {
    width: 200px;
    height: auto;
    max-height: 516px;
    display: none;
    margin: 0 auto;
  }
  
  .card_grid {
    display: flex;
  }
  
  .card_grid .card {
    height: 250px;
    margin: 4px;
  }
  
  .card {
    margin: 4px;
    width: 250px;
    height: 516px;
    background-color: #DBE2EF;
    color: #112D4E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    border: solid #3F72AF;
  }
  
  .card:not(.card_grid .card) {
    font-size: 54px;
  }
  
  .card:hover>p:nth-child(1) {
    display: none;
  }
  
  .card>p:nth-child(2) {
    display: none;
    font-size: 36px;
  }
  
  .card:hover>p:nth-child(2) {
    display: block;
  }
  
  #connect>div:nth-child(1) {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  #connect>div:nth-child(1)>div:nth-child(1){
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #connect>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #connect>div:nth-child(2) {
    flex: 0.5;
  }
  
  .stlye-text-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    background-color: #DBE2EF;
    padding: 10px;
    border: 1px solid #3F72AF;
  }
  
  .text-field {
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .message-field {
    height: 200px;
    padding-bottom: 60%;
  }
  
  .send-button {
    width: 423px;
    color: #112D4E;
    background-color: #DBE2EF;
    border: none;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    border: 1px solid #3F72AF;
    cursor: pointer;
  }
  
  .send-button:hover {
    text-decoration: underline;
  }
  
  .tags {
    color: #112D4E;
    text-decoration: underline;
    font-size: 33px;
    line-height: 50px;
  }
  
  .skills-p {
    background-color: #DBE2EF;
    color: #112D4E;
    border: 1px solid #3F72AF;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    font-size: 2.4em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-width: 25vw;
  }
  
  .social {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .fa-brands,
  .fa-solid {
    color: #3F72AF;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 90px;
  }
  
  .social p {
    line-height: 90px;
    color: #112D4E;
    font-size: 18px;
  }
  
  .social a {
    text-decoration: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 992px) {
    #hugo_barnes {
      flex-wrap: wrap;
    }
  
    .card_grid .card {
      height: 150px;
      width: 100px;
    }
  
    .card {
      width: 200px;
      height: 150px;
    }
  
    #ReadMe>div>div:nth-child(1) {
      flex-direction: column;
      align-items: center;
    }
  
    .card>p:nth-child(1) {
      font-size: 13px;
    }
  
    .card>p:nth-child(2) {
      font-size: 20px;
    }
  
    #connect {
      flex-direction: column;
    }
  
    .skills-p {
      max-width: 90vw;
      font-size: 20px;
      width: 200px;
      height: auto;
    }
  
    .stlye-text-fields {
      max-width: 100%;
      width: 300px !important;
      align-items: center;
    }
  
    form,
    form * {
      margin: 0 !important;
      width: 300px !important;
    }
  
    .send-button {
      max-width: 103%;
      width: 320px !important;
    }
  
    .about_text {
      width: 90%;
      font-size: 20px;
      margin: auto;
      height: auto;
      line-height: 30px;
      padding: 0 30px;
    }
  
    #ReadMe>div>div:nth-child(2) {
      min-width: 100px;
    }
  
    #ReadMe>div>div:nth-child(2) img {
      width: 100px;
    }
  
    .navigator img {
      margin-left: 10px;
    }
  
    nav ul {
      gap: 15px;
      margin-right: 10px;
    }
  
    #connect>div:nth-child(1) {
     flex-wrap: wrap;
    }
  }