html,body{
    overflow: hidden;
}

#screen-one{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#profile-picture img{
    position: absolute;
    width: 30vw;
    height: auto;
    left: 5vh;
    top: 6vh;
    border-radius: 5px;
}
#profile-caption p1{
    position: absolute;
    bottom: 19vh;
    left: 2.5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

#home-logo img{
    position: absolute;
    width: 3vw;
    height: auto;
    top: 5vh;
    right: 2.5vh;
    transform: translate(-50%, -50%);
}

#connect{
    position: absolute;
    bottom: 2vh;
    left: 2.5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
}

.project-row{

    font-size: 10px;
    cursor: pointer;
    border: 1px solid black;
    width: 700px;
    height: 50px;
    border-radius: 2.5px;
}
#automaton{
    position: absolute;
    left: 35vw;
    top: 6vh;
}
#calvinandhobbes{
    position: absolute;
    left: 35vw;
    top: 14vh;
}
#scrabble{
    position: absolute;
    left: 35vw;
    top: 22vh;
}
#sudoku{
    position: absolute;
    left: 35vw;
    top: 30vh;
}
#tkq{
    position: absolute;
    left: 35vw;
    top: 38vh;
}
#connection{
    position: absolute;
    left: 35vw;
    top: 46vh;
}
#crossword{
    position: absolute;
    left: 35vw;
    top: 54vh;
}
#quotes{
    position: absolute;
    left: 35vw;
    top: 62vh;
}
#riotgames{
    position: absolute;
    left: 35vw;
    top: 70vh;
}
.project-row:hover{
    text-decoration: underline;
}
.content{
    display: flex;
    align-items: center;
}

.completed{
    position: absolute;
    right: 1vw;
}
.project-image{
    position: absolute;
    width: 45%;
    pointer-events: none;
    border-radius: 5px;
}