/*
GENERAL STYLINGS:
*/
#wrapper {
    position: relative;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0;
}

#project-div {
    width: 150vh;
    height: 71vh;
    border: 1px solid black;
    position: relative;
}

/*
Style the squares on the grid to represent scrabble grid:
*/
.double-letter{
    background-color: lightblue;
}

.triple-letter{
    background-color: rgb(105, 105, 139);
}

.double-word{
    background-color: rgb(247, 146, 163);
}

.triple-word{
    background-color: rgb(238, 58, 58);
}
.start-square{
    background-color: gold;
}


/*
LETTER STYLINGS:
*/


#letters-section {
    position: absolute;
    width: 16.4vh;
    height: 69.5vh;
    left: 40%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,.1fr);
    grid-auto-rows: minmax(20px, auto);
    gap: 10px;
    padding: 5px;
}

.letter-container {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.letter {
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.point-value {
    position: absolute;
    bottom: 6.5px;  
    right: 17.5px;
    font-size: 10px; 
    line-height: 1;
    transform: translate(50%, 50%); 
}
/*
RACK-SECTION STYLINGS:
*/

#rack-section{
    position: absolute;
    height: 70.8vh;
    width: 60vh;
    left: 0%;
    border: 1px solid black;
}

.underline_text{
    text-decoration: underline;
    font-weight: bold;
}
.border_text{
    border: 1px solid black;
    text-align: center;
    text-decoration: underline;
    padding: .5px;
}

ul{
    list-style-type: disc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .85em;
}
#how-to-bullets{
    position: absolute;
    bottom: 71%;
}
ul li.how-to-bullets{
    margin-top: 9px;
}

.header-class{
    text-align: center;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
}
#how-to{
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#legend{
    position: absolute;
    bottom: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.starting-tile{
    position: absolute;
    left: 20.5%;
    bottom: 64%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9em;
}
.start-square-color{
    color: gold;
    background-color: gold;
}
.double-letter-score{
    position: absolute;
    left: 10%;
    bottom: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9em;
}
.double-letter-color{
    background-color: lightblue;
    color: lightblue;
}
.double-word-score{
    position: absolute;
    left: 50%;
    bottom: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9em;
}
.double-word-color{
    background-color: rgb(247, 146, 163);
    color: rgb(247,146,163);
}
.triple-letter-score{
    position: absolute;
    left: 11.7%;
    bottom: 56%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9em;
}
.triple-letter-color{
    background-color: rgb(105, 105, 139);
    color: rgb(105, 105, 139);
}
.triple-word-score{
    position: absolute;
    left: 51.7%;
    bottom: 56%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9em;
}
.triple-word-color{
    background-color: rgb(238, 58, 58);
    color: rgb(238, 58, 58);
}

#letter-rack{
    position:absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tile-rack{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 40%;
    left: 15%;
}
.rack-item {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

#words{
    position: absolute;
    left: 50%;
    bottom: 23%;
    transform: translate(-50%, -50%); 
}
.letter-rack-button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: inherit;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
    font-size: 1em;
    cursor: pointer;    
}
#find-rack{
    position: absolute;
    bottom: 32.5%;
    left: 12.5%;
}
#clear-words{
    position: absolute;
    bottom: 32.5%;
    left: 23%;
}
#clear-rack{
    position: absolute;
    bottom: 32.5%;
    left: 45.5%;
}
#clear-board{
    position: absolute;
    bottom: 32.5%;
    left: 65.5%;
}


#words-rack-1{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 13%;
    left: 15%;
}

#words-rack-2{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 5%;
    left: 15%;
}
#points-rack {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    bottom: 5%;  /* Adjusted from 5000% to a more reasonable value */
    left: 88%; 
}

#points-rack .points-rack-item {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2px;
}

#word-0, #word-1 {
    display: flex;
    flex-wrap: wrap;
    position: relative; 
    gap: 5px;
}

.output-letter {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 17px;
}
.output-pts{
    position: absolute;
    font-size: 9px;
    text-align: center;
    bottom: 2px;
}
#word-0{
    position: absolute;
    bottom: 13.45%;
    left: 15.55%;
}
#word-1{
    position: absolute;
    bottom: 5.45%;
    left: 15.55%;
}

.output-pts-letter {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 17px;
}
.pts-text{
    position: absolute;
    font-size: 9px;
    text-align: center;
    bottom: 3px;
}
#pts-0{
    position: absolute;
    bottom: 13.355%;
    right: 2.8425%;
}
#pts-1{
    position: absolute;
    bottom: 5.355%;
    right: 2.8425%;
}



/*
BOARD STYLINGS:
*/


#board {
    position: absolute;
    right: 1%;
    top: 50%; 
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(15, 35px);
    grid-template-rows: repeat(15, 35px);
    gap: 1px;
}

.grid-item {
    width: 35px;
    height: 35px;
    border: 1px solid black;
}
#screen-size-div{
    display: none;
}


@media (max-width: 1200px) and (min-width:1120px) {
    #board {
        position: absolute;
        right: 1%;
        top: 50%; 
        transform: translateY(-50%);
        display: grid;
        grid-template-columns: repeat(15, 30px);
        grid-template-rows: repeat(15, 30px);
        gap: 1px;
    }
    
    .grid-item {
        width: 30px;
        height: 30px;
        border: 1px solid black;
    }
    .letter-container {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    .letter {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        background-color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
    }
    
    .point-value {
        position: absolute;
        bottom: 5.5px;  
        right: 25px;
        font-size: 10px; 
        line-height: .9;
        transform: translate(50%, 50%); 
    }
    #letters-section {
        position: absolute;
        width: 16.4vh;
        height: 69.5vh;
        left: 41.5vw;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(3,.1fr);
        grid-auto-rows: minmax(20px, auto);
        gap: 10px;
        padding: 5px;
    }
    #screen-size-div{
        display: none;
    }
}
@media (max-width:1119px){
    #project-div{
        display: none;
    }
    #screen-size-div {
        display: flex; 
        justify-content: center;
        align-items: center;
        text-align: center;
        top: auto;
    }
    
}
